@charset "utf-8";

.wrap {
  overflow: hidden;
}
.title {
  height: 310px;
  background-image: url(https://akari-hashi84.github.io/portfolio-ak84/images/work-kadai/mein-haikei.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  
}

.title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.title p {
  font-size: 14px;
  margin-top: 15px;
}

.keiの靴下 {
  margin-top: 50px;
}
.keiの靴下-img  {
  display: inline-block;
  vertical-align: middle;
  padding-left:100px;
  width: 40%;
}

.keiの靴下-text  {
  display: inline-block;
  vertical-align: middle;
  padding-left: 160px;
  padding-top: 0px;
  max-width: 700px;
  margin-right: 100px;
}

.keiの靴下-text h2 {
  padding-bottom: 30px;
}
.link-button-area {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.link-button {
  background-color: #C6ADA9;
  display: inline-block;
  min-width: 180px;
  line-height: 48px;
  border-radius: 24px;
  font-family:'Times New Roman', Times, serif
}

.link-button:hover {
  background-color: #DDCBC9;
}



.keiの靴下-text h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
}







@media (max-width: 800px) {
  .keiの靴下-img {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  
  .keiの靴下-text {
    margin-top: 50px;
    width: 100%;
    padding-left: 0;
    text-align: left;
    line-height: 30px;
  }
  
  .video {
  width: 100%;
}
}
